@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* ===== VARIAVEIS ===== */
:root {
    --branco: #ffffff;
    --bg: #E6F3F1;
    --texto: #0f172a;
    --verde-escuro: #085E50;
    --verde-claro: #0DA58C;
    --azul: #00BFBF;
    --fundo: #C8E3DD;
    --verm: #e11d48;
    --sombra-sm: 0 4px 14px rgba(15, 23, 42, .08);
    --sombra-md: 0 10px 24px rgba(2, 6, 23, .08);
}


/* ===== GLOBAIS ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    background-color: var(--fundo);
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nunito';
}

.cabecalho {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-colorido {
    height: 12vh;
}

.pesquisar-locais {
    display: flex;
    align-items: center;
    width: 400px;
    border: 2px solid var(--verde-escuro);
    border-radius: 15px;
    overflow: hidden;
}


.icone-container {
    background-color: var(--verde-escuro);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2.0px solid var(--verde-escuro);
}

.icone-pesquisar {
    width: 20px;
    height: 25px;
}

.pesquisar-locais input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
}

.botao-galeria {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-decoration: none;
    width: 15vw;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}

.botao-galeria:hover {
    background-color: #25675e;
    transform: scale(1.05);
}

.icone-galeria {
    width: 20px;
    height: 20px;
}

.conteudo {
    display: flex;
    padding-top: 15vh;
    height: 85vh;
}

.parte-lateral {
    width: 25vw;
    background-color: var(--fundo);
    margin: 20px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;


    /* position: fixed;
    top: 100px;
    left: 0px;
    width: 400px;
    height: calc(100vh - 100px);
    background-color: var(--fundo);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; */
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    height: 100%;
}

.navegação {
    list-style: none;
    padding: 10% 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.lista-navegacao {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--texto);
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.lista-navegacao:hover {
    transform: scale(1.05);
}

.icone-menu {
    width: 24px;
    height: 24px;
    margin-right: 30px;
    display: inline-block;
}

.sair {
    display: flex;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.sair-do-feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foto-usuario {
    margin-left: 25px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 60px;
    margin-bottom: 15px;
    box-shadow: var(--sombra-md);
}

.informacoes-usuario {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

.nome-usuario {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.usuario {
    font-size: 20px;
    font-weight: 500;
    font-weight: bolder;
    color: var(--texto);
    margin-bottom: 10px;
}

.icone-sair-verde {
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
    transition: filter 0.2s ease;
    margin-right: 20px;
}

.icone-sair-verde:hover {
    transform: scale(1.05);
}


.titulo-recomendacao {
    margin-top: 200px;
    font-size: 1.8rem;
}

.recomendacao {
    margin-bottom: 20px;
}

.card-recomendacao {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: var(--branco);
    border-radius: 15px;
    width: 925px;
    height: 120px;
    gap: 30px;
    padding: 25px 15px;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: filter 0.2s ease;
}

.foto:hover {
    transform: scale(1.05);
}

.feed {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.post {
    width: 350px;
    height: 300px;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
}

.post figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.foto-post {
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    object-fit: cover;
}


.legenda-foto {
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 12px;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.80);
    box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.acoes {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.icone-post {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.icone-post:hover {
    transform: scale(1.2);
}